
<!-- <input type= "text" [(ngModel)]="searchword"(input)= "searchThis()"> -->
<div class="hello">
	<label for="search">Search: </label>
		<input name="search" [(ngModel)]="query" (change)="onSearch(query)" />
	

	<form>
		<label for="addcomponent">Add: </label>
		<input name="addcomponent" type="text" class="form-control" (keyup.enter)="addTopic(topic)" #topic> 
		
	<ul class="list-group">
		<li *ngFor="let topic of topics.controls" class="list-group-item">
			{{topic.value}}
		</li>
	</ul>
</form>
</div>

<div class="split left">

<ul class="assignment">
	<li *ngFor="let assignment of filterAssignment" [class.selected]="assignment === selectedAssignment"
		(click)="onSelect(assignment)">
		<span class="badge">{{assignment.name}}</span>
		
</ul>



</div>
<div class="split right">{{selectedAssignment.description}}</div>


