form{
    display: inline;
}

/* .hello{
    margin-left: 2em;
} */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 38%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  input{
      margin: 2px;
  }
  .abc{
      margin-left: 2%;
  }
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
text-align: center;
    margin-right: 10%;
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    /* text-align: center; */
  }
